*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
html
{
    width: 100%;
    height: 100%;
}
body 
{
    position: relative;
    min-height: 100%;
    width: 100%;
    overflow-x: hidden;
}
.homeContent
{
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all 0.5s ease;
}
.homeContent .text
{
   font-size: 25px;
   font-weight: 500;
   color: #1d1b31; 
   margin: 12px;
}
.sidebar.active ~ .homeContent
{
    width: calc(100% - 240px);
    left: 240px;
}
.editGradeContainer.active
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b2b2b2;
}
.editGradeContainer .editGradeCard
{
    position: relative;
    max-width: 450px;
    max-height: 460px;
    width: 90%;
    padding-bottom: 10px;
    border-radius: 12px;
    background-color: #11101d;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.editGradeContainer .editGradeCard .formContainer
{
    width: 90%;
    margin: 0px auto;
}
.editGradeContainer .editGradeCard .formContainer .formDelimiter
{
    overflow-y: auto;
    overflow-x: hidden;
    height: 440px;
}
.editGradeContainer .editGradeCard h2
{
    text-align: center;
    padding: 10px;
    color: white;
}
.inputElement
{
    font-size: 15px;
    padding: 0px 10px 0px 10px;
    margin: 0px 0px 20px 0px;
    width: 100%;
    height: 45px;
    border-radius: 8px;
}
.inputLabel
{
    color: #fff;
}
.inputElement
{
    font-size: 15px;
    padding: 0px 10px 0px 10px;
    margin: 0px 0px 20px 0px;
    width: 100%;
    height: 45px;
    border-radius: 8px;
}
.btn
{
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 50px;
    border-radius: 40px;
    background-color: rgb(39, 215, 39);
    border: none;
    cursor: pointer;
}
.inputElement.color
{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: block;
}
#color
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 65px;
    height: 50px;
    border: none;
    cursor: pointer;
}
#color::-webkit-color-swatch
{
    border-radius: 50%;
    border: none;
}
#color::-moz-color-swatch
{
    border-radius: 50%;
    border: none;
}
.addEventContainer .addEventCard
{
    height: 500px;
}
.addEventContainer .addEventCard .formContainer
{
    height: 370px;
}
.btn
{
    top: -100px;
}